<!-- Logo -->

<p>To continue, log in to Inventory.</p>

<form action="">
    <input type="text" name="username" id="" />
    <input type="password" name="password" id="" />
    <input type="submit" value="Sign Up" id="">
</form>

<p><a href="">Don't have an account? Sign Up</a></p>