<!-- Logo -->

<p>Sign up to start tracking your inventory.</p>

<form action="">
    <input type="text" name="username" id="" />
    <input type="email" name="email" id="" />
    <input type="password" name="password" id="" />
    <input type="submit" value="Sign Up" id="">
</form>

<p><a href="">Already have an accout? Log In</a></p>