<div class="register-container">

    <div class="register">

        <a href="/"><img src="images/inv-logo-nobg.png" alt="Inv Logo"></a>

        <p>Sign up to start tracking your inventory.</p>

        <form action="/signup" method="POST">
            <div>
                <input type="text" name="username" class="" required />
                <label for="">Username</label>
            </div>
            <div>
                <input type="email" name="email" class="" required />
                <label for="">Email</label>
            </div>
            <div>
                <input type="password" name="password" class="" required />
                <label for="">Password</label>
            </div>
            <input type="submit" value="Sign Up" />
        </form>
    
        <p><a href="/login">Already have an accout? Log In</a></p>
    
    </div>

</div>