<div class="register-container">

    <div class="register">

        <a href="/"><img src="images/inv-logo-nobg.png" alt="Inv Logo"></a>

        <p>Sign up to start tracking your inventory.</p>

        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" value="Sign Up" />
        </form>
    
        <p><a href="/login">Already have an accout? Log In</a></p>
    
    </div>

</div>