<!-- Logo -->

<p>Sign up to start tracking your inventory.</p>

<form action="/signup">
    <input type="text" name="username" placeholder="Username" required id="" />
    <input type="email" name="email" placeholder="Email" required id="" />
    <input type="password" name="password" placeholder="Password" required id="" />
    <input type="submit" value="Sign Up" id="">
</form>

<p><a href="">Already have an accout? Log In</a></p>