<header>
    <nav>
        <ul>
            <li><a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Hello User</h1>
    <p>Select a list below to continue working, or start a new one.</p>
    <ul>
        <% lists.forEach(list => { %>
            <li class="dashboard-block">
                <a href="/lists/<%= list._id %>"><%= list.name %> </a>
            </li>
        <% }) %>
        <li class="dashboard-block"><a href="/lists/new"><i class="fas fa-plus-circle"></i></a></li>
    </ul>
</main>