<header>
    <%- include('../partials/dashheader.ejs') %>  
</header>

<main class="dash-main">

    <div class="underlay"></div>

    <aside>
        <h2>Order List</h2>
        <p>You have no items that need ordered at this time.</p>
    </aside>

    <div class="dash-lists">
        <div class="welcome">
            <h2>Welcome Back</h2>
            <h1>Userh1>
            <p>Select a list below to continue working, or start a new one.</p>
        </div>
        
        <div class="dashboard-grid">
            <% lists.forEach(list => { %>
                <a href="/lists/<%= list._id %>" class="dashboard-block">
                    <div class="dashboard-grid-item">
                        <h3><%= list.name %></h3>
                        <h2><%= user.user %></h2>
                        
                    </div>
                </a>
            <% }) %>
            <!-- <div class="dashboard-grid-item">
                <a href="/lists/new" class="dashboard-block"><i class="fas fa-angle-right fa-lg"></i><i class="fas fa-plus-circle fa-lg"></i></a>
            </div> -->
        </div>
        
    </div>
    
</main>