<header>
    <nav>
        <ul>
            <li><a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="welcome">
        <h2>Welcome Back</h2>
        <h1>User</h1>
        <p>Select a list below to continue working, or start a new one.</p>
    </div>
    
    <div class="dashboard-grid">
        <% lists.forEach(list => { %>
            <div class="dashboard-grid-item">
                <h3><%= list.name %></h3>
                <a href="/lists/<%= list._id %>" class="dashboard-block"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></a>
            </div>
        <% }) %>
        <div class="dashboard-grid-item">
            <a href="/lists/new" class="dashboard-block"><i class="fas fa-plus-circle fa-lg"></i></a>
        </div>
    </div>
    
</main>