<header>

    <%- include('../partials/listsheader.ejs') %> 
    
</header>
<main>

    <div id="underlay"></div>

    <%= list.name %>
    <form action="/lists/<%= list._id %>?_method=DELETE" method="POST" id="list-delete">
        <button type="submit" form="list-delete"><i class="fas fa-trash"></i></button>
        <!-- <input type="submit" value="Delete"> -->
    </form>

</main>