<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Show Page</title>
</head>
<body>
    <header>
        <h1>Welcome to the Mythical Creature's Inventory Tool</h1>
            <div class="sidenav">
                <a href="/">Home</a>
                <a href="/create">Create</a>
                <a href="/show">Show</a>
                <a href="/logout">Logout</a>
            </div>
        <main>
            <h2>Show description of the selected product</h2>
            <p>This produce is Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quaerat inventore.</p>
        </main>
</body>
</html>