<nav class="sidenav">
    <ul>
        <li><a href="/lists/new" title="Add New List"><i class="fas fa-plus"></i></a></li>
        <li><a href="" title="Toggle Dark & Light Mode"><i class="fas fa-adjust"></i></a></li>
        <li><a href="" title="FAQ"><i class="fas fa-question"></i></a></li>
        <li><a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>   
</nav>


<!-- TODO 
    For the logout to work, it will need a form action like below
    <form action="/logout?_method=DELETE" method="POST"></form>
          <input type="submit" value="Logout" />
        

-->