<nav class="sidenav">
    <a href="/">H</a>
    <a href="/create">C</a>
    <a href="/show">S</a>
    <a href="/lists">I</a>
    <a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a>
</nav>