<nav class="sidenav">
    <ul>
        <li><a href="/">H</a></li>
        <li><a href="/create">C</a></li>
        <li><a href="/show">S</a></li>
        <li><a href="/lists">I</a></li>
        <li><a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>   
</nav>