<nav class="sidenav">
    <ul>
        <li><a href="/lists" title="Dashboard"><i class="fas fa-tachometer-alt"></i></a></li>
        <li><a title="Edit Current List" id="list-edit"><i class="fas fa-edit"></i></a></li>
        <li><a title="Delete Current List" id="list-delete-prompt"><i class="fas fa-trash"></i></a></li>
        <li><a title="Add New List" class="create-list-modal"><i class="fas fa-plus"></i></a></li>
        <li>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </li>
    </ul>   
</nav>

<div class="create-list hidden">
    <div class="create-list-bg"></div>
    <div class="modal-content">
        <div class="list-close">+</div>
        <p>Create a new inventory list.</p>
        <form action="/lists" method="POST">
            <input type="text" name="name" placeholder="Inventory Name" minlength="5" maxlength="20"/>
            <input type="submit" value="Create">
        </form>
    </div>
</div>