<div class="five-four">
    <div>
        <img src="images/404.png" alt="404 Internal Server Error">
    </div>
    <div class="five-four-content">
        <h3>404 Page Not Found</h3>
        <p>The page you're looking for does not exist.</p>
        <div>
            <a href="/lists">Dashboard</a>
            <a href="/">Home</a>
        </div>
    </div>
</div>