<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
</head>
<body>
    <img src="images/500.png" alt="500 Internal Server Error" style="display: block; margin-left: auto;
    margin-right: auto;">
</body>
</html>