<div class="five-four">
    <div>
        <img src="images/500.png" alt="500 Internal Server Error">
    </div>
    <div class="five-four-content">
        <h3>500 Internal Server Error</h3>
        <p>This page is currently unable to process this request.</p>
        <div>
            <a href="/lists">Dashboard</a>
            <a href="/">Home</a>
        </div>
    </div>
</div>