<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Create Page</title>
</head>
<body>
    <header>
        <h1>Welcome to the Mythical Creature's Inventory Tool</h1>
    </header>
            <div class="sidenav">
                <a href="/">Home</a>
                <a href="/create">Create</a>
                <a href="/show">Show</a>
                <a href="/logout">Logout</a>
            </div>
        <main>
            <h2>Add your new items here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolorum laborum inventore asperiores qui vitae omnis dicta vel natus, accusantium eos illo, esse voluptate ex harum obcaecati doloremque non in!</p>
        </main>
</body>
</html>