<header>
    <%- include('./partials/landingheader.ejs') %>  
</header>

<main class="landing-main">

    <div class="landing-bg"></div>

    <div class="landing-content">
        <div class="landing-content__cta">
            <h3>Inventory Tracking<br>for Your Business</h3>
            <!-- <p>Register for an account to get started.</p> -->
            <a href="/signup">Register</a>
        </div>
        <div class="landing-content__image">
            <img src="images/landing-screen.png" alt="">
        </div>
    </div>

</main>