<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Add New Inventory Page</title>
</head>
<body>
    <header>
        <h1>Welcome to the Mythical Creature's Inventory Tool</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists">Inventories List</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>        
        </nav>
    </header>
        <main>
            <h2>Enter your new item information here</h2>
            <form action="/items" method="POST">
                <ul style="list-style: none;">
                    <li>Name: <input type="text" name="name"></li>     
                    <li>Category: <input type="text" name="category"></li>   
                    <li>Price: <input type="integer" name="price"></li>   
                    <li>Quanity: <input type="integer" name="quanity"></li>
                    <input type="submit" value="Add Item">
                    <p>
                        <select name="list">
                          <% lists.forEach(list => { %>
                            <option value="<%= list._id %>"><%= list.name %></option>
                          <% }) %>
                        </select>
                      </p>
                </ul>
            </form>
            
        </main>
</body>
</html>