<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Items</title>
</head>
<body>
    <header>
        <h1>Welcome to the Mythical Creature's Inventory Tool</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists">Inventories List</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>          
        </nav>
    </header>
        <main>
            <h2>Item Description</h2>
            <section>
                <ul>
                    <li>Name: <%= item.name %></li>
                    <li>Category: <%= item.category %></li>
                    <li>Price: <%= item.price %></li>
                    <li>Quantity: <%= item.quanity %></li>
                </ul>
            </section>
        </main>
</body>
</html>